<style>
section#along-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#flex {
    display: flex;
    justify-content: space-between;
}
div#side img {
    width: 20%;
    float: left;
    height: 250px;
}
div.center {
    text-align: center;
    width: 75%;
    float: right;
}
main {
    margin-top: 300px;
}
div.work-places {
    width: 100%;
}
h3 {
    text-align: center;
}
h4 {
    float: left;
    width: 70;
}
h4 > aside {
    float: right;
    width: 20;
}
</style>
